In [77]:
import pandas as pd
import os

In [78]:
base=pd.read_csv("../files/input/solicitudes_de_credito.csv", sep=";")
base.drop(columns=["Unnamed: 0"], inplace=True)

In [79]:
base_1=base.copy()
base_1=base_1.dropna()
base_1=base_1.drop_duplicates()
base_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10475 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10475 non-null  object
 1   tipo_de_emprendimiento  10475 non-null  object
 2   idea_negocio            10475 non-null  object
 3   barrio                  10475 non-null  object
 4   estrato                 10475 non-null  int64
 5   comuna_ciudadano        10475 non-null  float64
 6   fecha_de_beneficio      10475 non-null  object
 7   monto_del_credito       10475 non-null  object
 8   línea_credito           10475 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 818.4+ KB

In [80]:
columnas_texto=["sexo","tipo_de_emprendimiento","idea_negocio","línea_credito"]
for col in columnas_texto:
    base_1[col]=(base_1[col].str.lower()
                 .str.replace(r'[-_]'," ", regex=True)
                 .str.strip())

In [81]:
base_1["barrio"]=base_1["barrio"].str.lower().str.replace(r'[-_]'," ", regex=True)

In [82]:
columnas_numericas=["comuna_ciudadano","estrato"]
for col in columnas_numericas:
    base_1[col]=base_1[col].apply(lambda x: str(int(x)))

In [83]:
base_1["fecha_de_beneficio"]=(base_1["fecha_de_beneficio"]
                              .str.replace("/","-")
                              .str.replace(
                                  r'^(\d{1,2})-(\d{1,2})-(\d{4})$',
                                  r'\3-\2-\1',                       
                                regex=True))

base_1["fecha_de_beneficio"]=pd.to_datetime(base_1["fecha_de_beneficio"], format="%Y-%m-%d",errors="coerce")

In [84]:
base_1["monto_del_credito"]=(base_1["monto_del_credito"].
                             str.replace(r'[$,]',"",regex=True).
                             apply(lambda x: float(x)))

In [85]:
base_1=base_1.drop_duplicates()
base_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10206 entries, 0 to 10918
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10206 non-null  object
 1   tipo_de_emprendimiento  10206 non-null  object
 2   idea_negocio            10206 non-null  object
 3   barrio                  10206 non-null  object
 4   estrato                 10206 non-null  object
 5   comuna_ciudadano        10206 non-null  object
 6   fecha_de_beneficio      10206 non-null  datetime64[ns]
 7   monto_del_credito       10206 non-null  float64
 8   línea_credito           10206 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 797.3+ KB

In [86]:
def guardar_datos(df):
    carpeta_salida="../files/output"
    if not os.path.exists(carpeta_salida):
        os.makedirs(carpeta_salida)
    ruta_completa=os.path.join(carpeta_salida,"solicitudes_de_credito.csv")
    df.to_csv(ruta_completa,sep=';',index=False, encoding='utf-8')

In [87]:
guardar_datos(base_1)

In [88]:
base_2=pd.read_csv("../files/output/solicitudes_de_credito.csv", sep=";")
base_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10206 entries, 0 to 10205
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10206 non-null  object
 1   tipo_de_emprendimiento  10206 non-null  object
 2   idea_negocio            10206 non-null  object
 3   barrio                  10206 non-null  object
 4   estrato                 10206 non-null  int64
 5   comuna_ciudadano        10206 non-null  int64
 6   fecha_de_beneficio      10206 non-null  object
 7   monto_del_credito       10206 non-null  float64
 8   línea_credito           10206 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 717.7+ KB